<main class="{{ styles.card }}">
    <form class="{{ styles.loginForm }}">
        <div class="{{ styles.fieldset }}">
            <legend class="{{ styles.legend }}">{{ formName }}</legend>
            {{#each fields}}
                {{#if (eq this.id "firstName")}}
                <div class="{{ styles.formRow }}">
                    {{> FormItem this }}
                {{else if (eq this.id "lastName")}}
                    {{> FormItem this }}
                </div>
                {{else}}
                    {{> FormItem this }}
                {{/if}}
            {{/each}}
        </div>
        {{> Button
                type="submit"
                label="Sign up"
                styles=buttonStyles
        }}
    </form>
    {{>  Footer}}
</main>

