<main id="container" class="{{ styles.card }}">
    <div class="{{styles.profile}}">
        {{{ ProfileHeader }}}
        <section class="{{styles.section}}">
            <div class="{{styles.info}}">
             {{{ fields }}}
            <div class="{{styles.actionBlock}}">
                <a href="/profile/edit" data-page="edit" class="link">Update Information</a>
                <a href="/profile/password" data-page="password" class="link">Change password</a>
            </div>
            <hr class="{{styles.separator}}" />
            <a class="link link--red" href="#">Sign out</a>
            </div>
        </section>
    </div>
</main>
