<main id="container" class="{{ styles.card }}">
    <div class="{{styles.profile}}">
        {{{ ProfileHeader }}}
        <section class="{{styles.section}}">
            <div class="{{styles.info}}">
             {{{ fields }}}
            <div class="{{styles.actionBlock}}">
                {{{ profileEditLink }}}
                {{{ passwordEditLink }}}
            </div>
            <hr class="{{styles.separator}}" />
             {{{ signOutLink }}}
            </div>
        </section>
    </div>
</main>
