<div id="{{ id }}" data-modal="modalBox" class="{{ overlay }}">
    <div class="{{ window }}">
        <form>
            {{{ closeButton }}}
            <h2>{{ title }}</h2>
           {{{ FormItem }}}
           {{{ Button }}}
        </form>
    </div>
</div>

