<div id="{{ id }}" class="{{ overlay }}">
    <div class="{{ window }}">
        <form>
            <button  class="{{ styles }}">&times;</button>
            <h2>{{ title }}</h2>
           {{{ FormItem }}}
           {{{ Button }}}
        </form>
    </div>
</div>

