<div class="{{ styles.chatItem }}">
    {{{ avatar }}}
    <div class="{{ styles.chatItemInfo }}">
        <div class="{{ styles.chatItemHeader }}">
            <span class="{{ styles.chatItemName }}">{{ title }}</span>
            <p class="{{ styles.chatItemMessage }}">{{ content }}</p>
        </div>
        <div class="{{ styles.chatItemContent }}">
            <span class="{{ styles.chatItemTime }}">{{ time }}</span>
            {{#if unread}}
                <div class="{{ styles.chatItemUnread }}">{{ unread_count }}</div>
            {{/if}}
        </div>
    </div>
</div>
