<main id="container" class="{{ styles.card }}">
    <div class="{{styles.profile}}">
        {{{ ProfileHeader }}}
        <section class="{{styles.section}}">
            <form>
                <div class="{{styles.info}}">
                  {{{ fields }}}
                </div>
                <div class="{{styles.actionBlock}}">
                    {{{ Button }}}
                </div>
            </form>
        </section>
    </div>
</main>
