<div class="{{styles.profileHeader}}">
    <img class="{{styles.avatar}}" src="/static/profile/avatar.png" alt="User Avatar" />
    <div class="{{styles.info}}">
        <h1 class="{{styles.name}}">{{name}}</h1>
        <h2 class="{{styles.subheading}}">Personal Info</h2>
    </div>
</div>

