<div class="{{ formItem }}">
 <label class="{{ labelStyle }}" for="{{ name }}" >{{ fieldName }}</label>
 <input class="{{ inputStyle }}" type="{{ type }}" id="{{ name }}" name="{{ name }}" required="{{ required }}" placeholder="{{ placeholder }}" />
</div>
