<main id="container" class="{{ styles.card }}">
    <form>
        <div class="{{ styles.loginForm }}">
            <div class="{{ styles.fieldset }}">
                <legend class="{{ styles.legend }}">{{ formName }}</legend>
                   {{{ fields }}}
            </div>
            {{{ Button }}}
        </div>
    </form>
        <span class="{{ styles.info }}">
            <span class="{{ styles.text }}">Don’t have an account?
               {{{ Link }}}
            </span>
            <span class="{{ styles.text }}">
                <a class="{{ styles.link }}" href="#">Forgot password?</a>
            </span>
        </span>
</main>

